TZYJ_Android/test/java/server_api.properties

# React build files
**/*.bundle
**/app_images_*.png


.idea
.gradle
build
#gradle
#gradlew
gradlew.bat
local.properties
**/*.iml

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
.project
apk

### Calbash ###
.irb-history
test_servers/
screenshot_*.png

### other ###
captures/

